body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBBFDB;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.goods-card {
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  margin: 35px;
  width: 300px;
  height: 300px;
  border-radius: 25px;
  background-color: #ffffff;
  transition: box-shadow 0.1s;
}

img {
  margin-top: 10px;
}

h3 {
  font-size: 22px;
}

p{
  font-size: 18px;
}

.goods-card:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}