body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.version-position {
    position: absolute;
    width: 250px;
    height: 250px;
}

.big-circle-position {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a8a8a8;
    border-radius: 50%;
}

.small-circle-position {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
}

.central-circle-position {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 80px;
}

.small-circle-position:nth-child(2) { top: 90px; left: 215px; }
.small-circle-position:nth-child(3) { top: 90px; left: -35px; }
.small-circle-position:nth-child(4) { top: 215px; left: 90px; }
.small-circle-position:nth-child(5) { top: -35px; left: 90px; }
.small-circle-position:nth-child(6) { top: 180px; }
.small-circle-position:nth-child(7) { top: 180px; left: 180px; }
.small-circle-position:nth-child(8) { top: 5px; }
.small-circle-position:nth-child(9) { top: 5px; left: 180px; }

.version-transform {
    width: 250px;
    height: 250px;
    margin-left: 950px;
}

.big-circle-transform {
    width: 100%;
    height: 100%;
    background-color: #a8a8a8;
    border-radius: 50%;
}

.small-circle-transform {
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
}

.central-circle-transform {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(80px, -440px);
}

.small-circle-transform:nth-child(1) { transform: translate(91px, 215px) }
.small-circle-transform:nth-child(2) { transform: translate(94px, -95px) }
.small-circle-transform:nth-child(3) { transform: translate(215px, -35px) }
.small-circle-transform:nth-child(4) { transform: translate(-30px, -105px) }
.small-circle-transform:nth-child(5) { transform: translate(180px, -80px) }
.small-circle-transform:nth-child(6) { transform: translate(5px, -318px) }
.small-circle-transform:nth-child(7) { transform: translate(5px, -216px) }
.small-circle-transform:nth-child(8) { transform: translate(180px, -445px) }